*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
	user-select: none;
	font-family: Arial, sans-serif;
	/* font-family: 'Open Sans', 'Helvetica Neue', sans-serif; */
}

body{
	
}

::-webkit-scrollbar{
	display: none;
}

/* navBar */

.navBar{
	border-radius: 10px;
	position: fixed;
	background: linear-gradient(to top, #D1566F 25%, #BC614C);
	bottom: 30vh;
	margin: 10px;
	box-shadow:  0px 0px 20px #0B0A00;
}

.navBar ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
}

.navBar ul li:hover{
	transform: scale(1.1);
}

.navBar ul li img{
	height: 100%;
	width: 40px;
	margin: 5px 6px 5px 5px;
}

/* Tela Inicial */

#inicio{
	height: 100vh;
	background-color: #1C1B21;
	background-image: url("https://cdn-icons-png.flaticon.com/512/7717/7717364.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FAF9FE;
	height: 8vh;
	padding: 0px 20px;
}

header h1{
	margin-top: -20px;
}

.T{
	position: relative;
	top: 8px;
	font-size: 50px;
	color: #D1566F;
}

.navPer ul{
	display: flex;
	list-style: none;
}

header li a{
	text-decoration: none;
	color: #FAF9FE;
}

input{
	display: none;
}

header ul li label{
	padding: 10px;
}

.navComp:checked ~ label{
	border-bottom: solid 4px #D1566F;
}

header ul li label:hover{
	cursor: pointer;
	background-color: #2D2C32;
}

.contPrin{
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contPrin h1{
	font-size: 50px;
	color: #FAF9FE;
}

.contPrin h2{
	font-size: 25px;
	color: #BC614C;
}

.contPrin div{
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #D1566F 25%, #BC614C);
	border-radius: 100px;
	padding: 5px 20px 5px 5px;
	margin-top: 50px;
	box-shadow:  0px 5px 15px #0B0A10;
}

.contPrin a{
	text-decoration: none;
	font-size: 25px;
	color: #FAF9FE;
	padding: 5px 30px 5px 20px;
}

.openPos{
	/* background-color: white;
	border-radius: 100px; */
	height: 25px;
	width: 25px;
}

/* Segunda Tela */

#career{
	min-height: 103vh;
	padding: 10vh 0vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #222327;
}

.textPic, .carBen{
	display: flex;
	align-items: center;
	width: 89vw;
	justify-content: space-between;
}

.carText, .textPic img{
	width: 40vw;
}

.carText h1{
	font-size: 40px;
	color: #65666B;
}

.MOBILET{
	color: #FAF9FE;
}

hr {
	background-image: linear-gradient(to right, #D1566F, #BC614C);
	border: 0;
	height: 3px;
}

.carText p{
	font-size: 20px;
	color: #65666B;
}

.textPic img{
	/* display: none; */
	height: 100%;
}

.PerPoss{
	font-size: 40px;
	color: #FAF9FE;
}

.carBen{
	display: flex;
	align-items: start;
}

.Benefits{
	margin-top: 40px;
	font-size: 40px;
	color: #FAF9FE;
}

.carBen div{
	display: flex;
	align-items: start;
}

.carBen div div{
	min-width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px;
}

.carBen div div h3{
	margin: 10px 0px;
	color: #FAF9FE;
}

.carBen div div img{
	width: 10vw;
	border: solid #3f4044 4px ;
	margin: 30px;
	background-image: linear-gradient(to top, #1C1B21 50%, #202125);
	border-radius: 10000px;
}

.carBen div div p{
	text-align: start;
	min-width: 20vw;
	font-size: 20px;
	color: #65666B;
}

/* Terceira Tela */

#possib{
	min-height: 118vh;
	background-color: #202125;
	display: flex;
	flex-direction: column;
	padding-top: 10vh;
	align-items: center;
}

#possib label{
	border: solid #65666B;
	color: #65666B;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 18vw;
	min-width: 150px;
	transition: .5s;
}

#possib nav{
	width: 89vw;
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#possib nav ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

#possib nav ul li{
	margin: 10px;
}

#possib input:checked ~ label{
	background: linear-gradient(to right, #D1566F, #BC614C);
	color: #fff;
	border: none;
	transition: .5s;
	transform: scale(1.1);
	box-shadow:  0px 10px 15px #0B0A10;
}

#possib input:checked ~ div{
	display: block;
}

#possib h1{
	font-size: 45px;
	color: #FAF9FE;
}

#possib h5{
	color: #65666B;
}

li .container{
	display: none;
	margin-top: 5vh;
	position: absolute;
	left: 15vw;
	width: 70vw;
	height: 70vh;
}

.container h1{
	text-shadow: 3px 3px 10px black;
	margin-bottom: 3vh;
}

.container p{
	color: #65666B;
}

#possib hr{
	margin-bottom: 5vh;
}

/* Fotter */
footer {
	width: 100vw;
	background-color: #26252b;
	color: #fff;
	padding: 50px 0;
	display: flex;
	justify-content: space-around;
  }

  footer .footer-section{
	margin: 0vh 0px 4vh 11vh;
  }
  
  footer .footer-section h3 {
	font-size: 20px;
	margin-top: 2vh;
	margin-bottom: 20px;
  }
  
  footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  footer ul li {
	margin-bottom: 10px;
  }
  
  footer ul li a {
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
  }
  
  footer ul li a:hover {
	color: #BC614C;
  }
  
  footer ul li a i {
	font-size: 18px;
	/* margin-right: 10px; */
  }
  
  
/* mobile */

#Mobile{
	display: none;
}

.menu{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 50px;
	width: 60px;
	border-radius: 10px;
}

.menu:hover{
	background-color: gray;
}

/* computador */

@media (min-width: 768px) {
	#Mobile, .menu{
		display: none;
	}
}

/* tablet */

@media (max-width: 768px) {
	.carText, .textPic img{
		width: 75vw;
		margin: 3vh;
	}
	.textPic{
		flex-direction: column;
	}
	.carBen div{
		display: block;
	}
	.carBen div div img{
		width: 30vw;
	}
}

/* celular */

@media (max-width: 443px) {
	#Computer{
		display: none;
	}
	.contPrin{
		padding-bottom: 30vh;
	}
	#inicio{
		margin-top: 10px;
	}
	.contPrin{
		margin-bottom: 30vh;
	}
	.carText{
		margin-bottom: 5vh;
	}
	.carText h1{
		font-size: 35px;
	}
	.navBar{
		bottom: 130px;
		right: 0px;
	}
	.carBen{
		display: block;
	}
	.carBen div div img{
		width: 30vw;
	}
	footer{
		flex-direction: column;
	}
}
